[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "~=4.5"
unittest-xml-reporting = "~=2.5"

[packages]
integration-adaptors-common = {editable = true, path = "./../../common"}
tornado = "~=6.0"
mhs_common = {editable = true, path = "./../common"}
isodate = "~=0.6"
update = "*"

[requires]
python_version = "3.9"

[scripts]
unittests = 'python -m xmlrunner -o test-reports -v'
unittests-cov = 'coverage run -m xmlrunner -o test-reports -v'
coverage-report = 'coverage report'
coverage-report-xml = 'coverage xml'
coverage-report-html = 'coverage html'
start = "python main.py"
uninstall_setuptools = "pip uninstall -y setuptools"
install_setuptools = "pip install -Iv setuptools==57.5.0"
