[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

# TODO: Workout why this fails.
[packages]
integration-adaptors-common = {editable = true, path = "../../common"}
scr = {editable = true, path = "../SCR"}
flask = "*"
requests = "*"

[requires]
python_version = "3.9"

[scripts]
server = "python runserver.py"
