#!/bin/bash 

export MHS_OUTBOUND_URL="http://localhost:80/"

export FROM_ASID="227319907548"

# test scripts only, send a forward reliable message to yourself
export FROM_ODS="X26"

export MHS_SECRET_PARTY_KEY=""

# Your endpoint certificate here
export MHS_SECRET_CLIENT_CERT=""

# Your endpoint private key here
export MHS_SECRET_CLIENT_KEY=""

# Endpoint issuing subCA certificate and Root CA certificate here
export MHS_SECRET_CA_CERTS=""
