[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[dev-packages]

[packages]
integration-adaptors-common = {editable = true,path = "./../common"}
tornado = "*"

[scripts]
tests = "python -m unittest -v"
