[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "~=7.7"
unittest-xml-reporting = "~=3.2"

[packages]
tornado = "~=6.4.2"
python-qpid-proton = "~=0.39.0"
pystache = "~=0.6.7"
lxml = "~=5.3"
isodate = "~=0.7.2"
aioboto3 = "~=13.3.0"
motor = "~=3.6.0"

[requires]
python_version = "3.11"

[scripts]
unittests = 'python -m xmlrunner -o test-reports -v'
unittests-cov = 'coverage run -m xmlrunner -o test-reports -v'
coverage-report = 'coverage report'
coverage-report-xml = 'coverage xml'
coverage-report-html = 'coverage html'
