name: "Build"

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
  push:
    branches:
      - main
      - TEST-GITHUB-ACTIONS

jobs:
  build_common:
    name: "Common & MHS Common Tests"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install pipenv
        run: python3 -m pip install pipenv
      - name: "Install Common directory dependencies"
        working-directory: ./common
        run: pipenv install --dev
      - name: "Run Common directory tests"
        working-directory: ./common
        run: pipenv run unittests-cov
      - name: "Install MHS Common directory dependencies"
        working-directory: ./mhs/common
        run: pipenv install --dev
      - name: "Run MHS Common directory tests"
        working-directory: ./mhs/common
        run: pipenv run unittests-cov
      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Common-Test-Reports
          path: |
            common/test-reports/**
            mhs/common/test-reports/**

  inbound_tests:
    name: "Inbound Tests"
    uses: ./.github/workflows/test.yml
    with:
      name: Inbound
      path: ./mhs/inbound
    secrets: inherit

  outbound_tests:
    name: "Outbound Tests"
    uses: ./.github/workflows/test.yml
    with:
      name: Outbound
      path: ./mhs/outbound
    secrets: inherit

  route_tests:
    name: "Route Tests"
    uses: ./.github/workflows/test.yml
    with:
      name: Route
      path: ./mhs/spineroutelookup
    secrets: inherit

  generate-build-id:
    name: "Generate Build Id"
    needs: [build_common, inbound_tests, outbound_tests, route_tests]
    runs-on: ubuntu-latest
    outputs:
      build-id: ${{ steps.generate.outputs.buildId }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - id: generate
        run: |
          BUILD_ID=$(python3 pipeline/scripts/tag.py ${{ github.ref }} ${{ github.run_number }} ${{ github.sha }})
          echo "Generated the build tag: $BUILD_ID"
          echo "buildId=$BUILD_ID" >> "$GITHUB_OUTPUT"

  publish-docker-images:
    name: "Publish Docker Images"
    needs: [generate-build-id]
    strategy:
      matrix:
        config:
          - directory: mhs/inbound
            repository: mhs/inbound
            dockerfile: docker/inbound/Dockerfile
          - directory: mhs/outbound
            repository: mhs/outbound
            dockerfile: docker/outbound/Dockerfile
          - directory: mhs/spineroutelookup
            repository: mhs/route
            dockerfile: docker/spineroutelookup/Dockerfile
          - directory: integration-tests/fake_spine
            repository: fake-spine
            dockerfile: integration-tests/fake_spine/Dockerfile
    uses: ./.github/workflows/publish.yml
    with:
      directory: ${{ matrix.config.directory }}
      repository: ${{ matrix.config.repository }}
      dockerfile: ${{ matrix.config.dockerfile }}
      build-id: ${{ needs.generate-build-id.outputs.build-id }}
    secrets:
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      AWS_REGION: ${{ secrets.AWS_REGION }}

  component_tests:
    name: "Component Tests"
    needs: [ publish-docker-images, generate-build-id ]
    runs-on: ubuntu-latest
    env:
      BUILD_TAG: ${{ needs.generate-build-id.outputs.build-id }}
    strategy:
      matrix:
        component: [ 'SpineRouteLookup', 'SDS API' ]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install docker-compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
      - name: Set Lowercase Build Tag
        run: |
          BUILD_TAG_LOWER=$(echo -n ${{ env.BUILD_TAG }} | tr '[:upper:]' '[:lower:]')
          echo "BUILD_TAG_LOWER=$BUILD_TAG_LOWER" >> $GITHUB_ENV
      - name: Setup Docker Environment
        run: |
          ./integration-tests/setup_component_test_env.sh
          if [[ "${{ matrix.component }}" == "SpineRouteLookup" ]]; then
            docker-compose -f docker-compose.yml -f docker-compose.component.override.yml build
            docker-compose -f docker-compose.yml -f docker-compose.component.override.yml -p ${{ env.BUILD_TAG_LOWER }} up -d
          elif [[ "${{ matrix.component }}" == "SDS API" ]]; then
            docker-compose -f docker-compose.yml -f docker-compose.component.override.yml -f docker-compose.component-sds.override.yml build
            docker-compose -f docker-compose.yml -f docker-compose.component.override.yml -f docker-compose.component-sds.override.yml -p ${{ env.BUILD_TAG_LOWER }} up -d
          fi
      - name: Run Component Tests
        run: |
          docker build -t local/mhs-componenttest:${{ env.BUILD_TAG }} -f ./component-test.Dockerfile .
          docker run --rm --network "${{ env.BUILD_TAG_LOWER }}_default" \
            --env "MHS_ADDRESS=http://outbound" \
            --env "FAKE_SPINE_ADDRESS=http://fakespine" \
            local/mhs-componenttest:${{ env.BUILD_TAG }}
      - name: Dump Logs and Cleanup
        if: always()
        run: |
          docker-compose -f docker-compose.yml -f docker-compose.component.override.yml -p ${{ env.BUILD_TAG_LOWER }} down -v
          mkdir -p logs
          docker logs ${{ env.BUILD_TAG_LOWER }}_outbound_1 > logs/outbound_1.log
      - name: Archive Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.component }} Component Test Logs
          path: logs/

#  integration_tests:
#    name: "Integration Tests"
#    needs: [component_tests]
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout Repository
#        uses: actions/checkout@v4
#      - name: Setup Terraform
#        uses: hashicorp/setup-terraform@v3
#        with:
#          terraform_version: 1.0.0
#      - name: Configure AWS Credentials
#        uses: aws-actions/configure-aws-credentials@v4
#        with:
#          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_ROLE_TO_ASSUME }}
#          aws-region: ${{ secrets.AWS_REGION }}
#      - name: Terraform Init
#        run: terraform init -backend-config="bucket=${{ secrets.TF_STATE_BUCKET }}" -backend-config="region=${{ secrets.TF_STATE_BUCKET_REGION }}" -backend-config="key=${{ env.ENVIRONMENT_ID }}-mhs.tfstate"
#        working-directory: ./pipeline/terraform/mhs-environment
#      - name: Terraform Apply
#        run: |
#          terraform apply -auto-approve \
#            -var environment_id=build \
#            -var build_id=${{ needs.generate-build-id.outputs.build-id }}
#        working-directory: ./pipeline/terraform/mhs-environment
#      - name: Run Integration Tests
#        run: |
#          LB_DNS=$(terraform output -raw outbound_lb_domain_name)
#          echo "MHS_ADDRESS=https://$LB_DNS" >> $GITHUB_ENV
#          # Execute your integration test script here
#        working-directory: ./pipeline/terraform/mhs-environment
#      - name: Clean up Terraform
#        if: always()
#        run: terraform destroy -auto-approve
#        working-directory: ./pipeline/terraform/mhs-environment

  post-build-cleanup:
    name: "Post-build Cleanup"
    needs: [build_common, inbound_tests, outbound_tests, route_tests, generate-build-id, publish-docker-images, component_tests, integration_tests]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: "Prune Docker Images"
        run: |
          docker system prune --force
          docker volume prune --force