name: "Component Test"

on:
  workflow_call:
    inputs:
      name:
        required: true
        type: string
      yaml:
        required: true
        type: string

jobs:
  component_tests:
    name: ${{ inputs.name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Build and Run Tests
        run: |
          chmod +x integration-tests/setup_component_test_env.sh
          ./integration-tests/setup_component_test_env.sh
          source component-test-source.sh
          export BUILD_TAG=latest
          
          docker build -t local/mhs-outbound:latest -f docker/outbound/Dockerfile .
          docker build -t local/mhs-inbound:latest -f docker/inbound/Dockerfile .
          docker build -t local/mhs-route:latest -f docker/spineroutelookup/Dockerfile .
          docker build -t local/fake-spine:latest -f integration-tests/fake_spine/Dockerfile .
          docker build -t local/mhs-componenttest:latest -f ./component-test.Dockerfile .
               
          docker compose -f docker-compose.yml -f ${{ inputs.yaml }} build
          docker compose -f docker-compose.yml -f ${{ inputs.yaml }} --project-name component-test up -d

          docker run \
            --network component-test_default \
            --env "MHS_ADDRESS=http://outbound" \
            --env "AWS_ACCESS_KEY_ID=test" \
            --env "AWS_SECRET_ACCESS_KEY=test" \
            --env "MHS_DB_ENDPOINT_URL=http://dynamodb:8000" \
            --env "FAKE_SPINE_ADDRESS=http://fakespine" \
            --env "MHS_INBOUND_QUEUE_BROKERS=amqp://rabbitmq:5672" \
            --env "MHS_INBOUND_QUEUE_NAME=inbound" \
            --env "SCR_ADDRESS=http://scradaptor" \
            --name component-tests \
            local/mhs-componenttest:latest

      - name: Copy Test Results
        if: always()
        run: |
          mkdir -p test-reports
          docker ps
          docker cp component-tests:/test/integration-tests/integration_tests/test-reports/ ./local-test-reports/
          docker rm component-tests

      - name: Copy Docker Logs
        if: always()
        run: |
          mkdir -p logs
          docker logs component-test-outbound-1 > logs/outbound.log>/dev/null || true
          docker logs component-test-inbound-1 > logs/inbound.log>/dev/null || true
          docker logs component-test-fakespine-1 > logs/fakespine.log>/dev/null || true
          docker logs component-test-rabbitmq-1 > logs/rabbitmq.log>/dev/null || true
          docker logs component-test-dynamodb-1 > logs/dynamodb.log>/dev/null || true
          docker logs component-test-sds-api-mock-1 > logs/sdsapimock.log>/dev/null || true
          docker logs component-test-route-1 > logs/route.log>/dev/null || true
          docker logs component-test-mongodb-1 > logs/mongodb.log>/dev/null || true
          docker logs component-test-redis-1 > logs/redis.log>/dev/null || true

      - name: Upload Docker Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Component-Test-Docker-Logs-${{ inputs.name }}
          path: logs/**

      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Component-Test-Reports-${{ inputs.name }}
          path: local-test-reports/**

      - name: Publish Test Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: ${{ inputs.name }} Component Tests
          path: local-test-reports/*.xml
          reporter: java-junit