on:
  release:
    types: [published]

jobs:
  push_to_dockerhub:
    strategy:
      matrix:
        image:
          - {folder: docker/spineroutelookup, dockerhub_name: nia-mhs-route}
          - {folder: docker/outbound, dockerhub_name: nia-mhs-outbound}
          - {folder: docker/inbound, dockerhub_name: nia-mhs-inbound}
    uses: NHSDigital/integration-adaptor-actions/.github/workflows/release-adaptor-container-image.yml@main
    with:
        upload_url: ${{ github.event.release.upload_url }}
        dockerhub_name: ${{matrix.image.dockerhub_name}}
        folder: ${{matrix.image.folder}}

    secrets: inherit
